@font-face {
    font-family: 'NanumSquareNeo';
    src: url('NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'NanumSquareNeo';
}