.title {
    /* font-family: 'NanumSquareNeo'; */
    font-family: 'NanumSquareNeoLight';
    font-size: 48px;
}

.navbar-toggler {
    border: none;
    outline: none;

    &:focus {
        box-shadow: unset;
    }
}